{%- macro picture(light_src, dark_src='', img_attrs={}) -%}
    {% if not dark_src %}
        {% set dark_src = light_src %}
    {% endif %}
<picture>
  <source
    srcset="{{ dark_src }}"
    media="(prefers-color-scheme: dark)"
  />
  <source
    srcset="{{ light_src }}"
    media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
  />
  <img {% for name, value in img_attrs.items() -%}
    {{ '{}="{}" '.format(name, value) }}
  {%- endfor -%}/>
</picture>
{%- endmacro -%}

{%- macro link_w_picture(alt, href, light_src, dark_src='', img_attrs={}) -%}
<a alt="{{ alt }}" href="{{ href }}">
  {{ picture(light_src, dark_src) | indent(2) }}
</a>
{%- endmacro -%}

{# 
    Options for github-readme-stats cards:
        https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#common-options
#}

{%- macro card_gist(alt, user, gistid) -%}
    {% set href = "https://gist.github.com/{}/{}".format(user, gistid) %}
    {% set base_src  = "https://github-readme-stats.vercel.app/api/gist?id={}&border_radius=20&cache_seconds=86400".format(gistid) %}
    {% set light_src = base_src ~ "&theme=light" %}
    {% set dark_src  = base_src ~ "&theme=dark" %}

    {{- link_w_picture(alt, href, light_src, dark_src) -}}
{%- endmacro -%}

{%- macro card_github(user, repo) -%}
    {% set alt  = "GitHub Repository {}/{}".format(user, repo) %}
    {% set href = "https://github.com/{}/{}".format(user, repo) %}
    {% set base_src  = "https://github-readme-stats.vercel.app/api/pin?username={}&repo={}&border_radius=20&cache_seconds=86400".format(user, repo) %}
    {% set light_src = base_src ~ "&theme=light" %}
    {% set dark_src  = base_src ~ "&theme=dark" %}

    {{- link_w_picture(alt, href, light_src, dark_src) -}}
{%- endmacro -%}

{%- macro shields_badge_url(badge, color="#", style='', ltext='', lcolor='', logo='', logo_color='', logo_size='', cache='') -%}
    {{- "https://img.shields.io/" -}}
    {{- badge -}}
    {{- '?' if '?' not in badge -}}
    {{- "&style=" ~ style             if style -}}
    {{- "&label=" ~ ltext | urlencode if ltext -}}
    {{- "&labelColor=" ~ lcolor       if lcolor -}}
    {{- "&color=" ~ color             if color -}}
    {{- "&logo=" ~ logo               if logo -}}
    {{- "&logoColor=" ~ logo_color    if logo_color -}}
    {{- "&logoSize=" ~ logo_size      if logo_size -}}
    {{- "&cacheSeconds=" ~ cache      if cache -}}
{%- endmacro -%}

{%- macro static_badge_url(rtext, color="#", style='', ltext='', lcolor='', logo='', logo_color='', logo_size='', cache='') -%}
    {% set badge = "badge/{}-{}".format(rtext | urlencode, color) %}

    {{- shields_badge_url(badge, color="", style=style, ltext=ltext, lcolor=lcolor, logo=logo, logo_color=logo_color, cache=cache) -}}
{%- endmacro -%}

{%- macro badge_social(alt, href, label, logo, logo_color_light='', logo_color_dark='') -%}
    {% set alt = alt ~ " Social" %}
    {% set base_kwargs = {
        "rtext": label,
        "logo": logo,
        "style": "for-the-badge",
    } %}
    {% set light_src = static_badge_url(color="white",  logo_color=logo_color_light, **base_kwargs) %}
    {% set dark_src  = static_badge_url(color="151515", logo_color=logo_color_dark, **base_kwargs) %}

    {{- link_w_picture(alt, href, light_src, dark_src) -}}
{%- endmacro -%}

{#- unrendered text based version -#}
{%- set openhub_logo = "data:image/svg%2bxml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxMyI+PHRleHQgeT0iMTIiIGZpbGw9IiM1YTJhODEiIGZvbnQtZmFtaWx5PSJOaW1idXMgU2FucyBOYXJyb3ciIGZvbnQtd2VpZ2h0PSI4MDAiPk9IPC90ZXh0Pjwvc3ZnPg==" -%}

{#- ------------------------------------------------------------------------------------------ -#}

{{ card_gist("gsettings-array.py",           "rindeal", "c5786254410028f760ee2351d884a744") }}
{{ card_gist("xkb-list-layouts-variants.sh", "rindeal", "1891455c258b22f3e31e1da8f9821c28") }}
{{ card_github("rindeal", "Amalgamate") }}

---

<p>
  {{ badge_social("GitHub", "https://github.com/rindeal", "GitHub", "github", logo_color_light="151515") | indent(2) }}
  {{ badge_social("Gist", "https://gist.github.com/rindeal", "Gist", "github", logo_color_light="151515") | indent(2) }}
  {{ badge_social("GitLab", "https://gitlab.com/rindeal", "GitLab", "gitlab") | indent(2) }}
  {{ badge_social("GitLab Namespace", "https://gitlab.com/rindeal-ns", "GitLab NS", "gitlab") | indent(2) }}
  {{ badge_social("Black Duck Open Hub", "https://openhub.net/accounts/rindeal", "Open Hub", openhub_logo) | indent(2) }}
  {{ badge_social("Stack Exchange", "https://meta.stackoverflow.com/users/2566213/rindeal", "Stack Exchange", "stackexchange") | indent(2) }}
  {{ badge_social("EasyEDA", "https://oshwlab.com/rindeal?tab=project", "EasyEDA", "easyeda", logo_color_light="151515") | indent(2) }}
</p>

<br>
{% set base_kwargs = {
    "badge": "endpoint?url=https://hits.dwyl.com/x52ua8pfqt9msh3v/p9n8mckq65xrgzb7.json",
    "style": "flat-square", "logo": "googleanalytics", "cache": 0,
}%}
{% set light_url = shields_badge_url(color="white", lcolor="white", logo_color="AAAAAA", **base_kwargs) %}
{% set dark_url  = shields_badge_url(color="black", lcolor="black", logo_color="555555", **base_kwargs) %}
{{ picture(light_url, dark_url, {"alt": "Visitors Counter", "height": 16, "align": "right"}) }}
